.venv
__pycache__/
*.egg-info/
build/

node_modules/

# Environment variables
.env
.envrc

# Runtime data
data/

# Coverage Reports
.coverage
.coverage.*

# Security Reports
osv-results.json

# models
yolo26n_ncnn_model/
yolo26n.pt
